.feedbackBox {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 20px;
  background-color: aquamarine;
}

.feedbackTitle {
  /* margin-bottom: 20px; */
  /* border: 1px solid black; */
}
.feedbackBtnBox {
  margin: 20px 0 30px 0;
  display: flex;
  gap: 20px;
}
.feedbackBtn {
  background-color: coral;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  color: blue;
}
.feedbackResultBox {
  text-align: center;
}
